@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("http(s)?:\/\/[A-z]*.reddit.com((\/)?(\n|$)|\/r\/[A-z]*(\/)?($|\n))") {
  .entry {
    padding-top: 1.5em;
    position: relative;
  }
  
  .tagline {
    top: .25em;
    position: absolute;
    
    font-size: 0;
  }
  
  time,
  .subreddit,
  .author {
    font-size: x-small;
  }
  
  .tagline .subreddit {
    float: left;
  }
  
  time {
    float: right;
  }
  
  .subreddit {
    padding-right: .5em !important;
  }
  
  .tagline:not(:hover) .RESUserTag {
    display: none;
  }
  
  .tagline:hover time {
    padding-left: .5em;
  }
}